/* Keep font sizes up */
p {
	font-size: 1.25rem;
}

h2.at_post_title {
	font-weight: 700;
}

.post-template .at_post_title {
	font-weight: 700;
}

button.tiny, .button.tiny {
	font-size: .75rem;
}

ul, ol, dl {
	font-size: 1.25rem;
}

/* Convert images to block elements, and center align */
img {
	display: block;
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
}

.at_logo_img {
	display: inline;
	width: 1.5rem;
	height: 1.5rem;
	margin-top: 0.5rem;
	margin-right: 0.5rem;
	margin-bottom: 0.75rem;
}

/* Make code more like Casper theme */
code {
	font-weight: inherit;
	font-size: 1rem; /* 16px */
	border: 0.0625rem solid #ccc; /* 1px/16px */
	border-radius: 0.1875rem; /* 3px/16px */
	background: #eee;	
	padding: 0.0625rem 0.1875rem; /* 1px/16px 3px/16px */
	white-space: pre-wrap; /* Preserve whitespace, but wrap long lines of code
}